.messages {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.input {
  margin-left: 6%;
}

.searchFriend {
  margin-top: 1%;
  margin-left: 1%;
}
.addMessage {
  margin-top: 10%;
}
